body {
background-color: rgb(176, 113, 235);
}

h4 {

    font-family: Palatino, URW Palladio L, serif;
}

h3 {

    font-family:  Sans MS, Comic Sans, cursive
}
h2 {


    font-family: Comic Sans MS, Comic Sans, cursive;
}
img {



    height:250px;
    width: 250px;
    border-radius: 25%;

}